@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{ 
    var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); 
    @* OrderBy() takes the property to sort by and optionally order desc/asc *@
}

@foreach (var item in selection)
{
      <hr/>  
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><div class="articletitle"><a href="@item.Url">@item.projectTitle</a></div></h5>
            @*<p class="card-text">@item.articleContent</p>*@
            <div class="articlepreview">@Umbraco.Truncate(@item.projectDescription,100)</div>
            <a class-"btn btn-primary" href="@item.Url">Read More..</a>
          </div>
        </div>
      </div>
}